body {
    background-color: tan;
    background-image: url("https://cdn.pixabay.com/photo/2014/07/10/10/20/golden-gate-bridge-388917_960_720.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

#page_title {
    text-shadow: 1px 1px 2px black;
}

#content {
    float: right;
    padding-right: 300px;
}

#footer {
    text-align: center;
}

#later {
    background-image: url("https://cdn.pixabay.com/photo/2014/07/10/10/20/golden-gate-bridge-388917_960_720.jpg");
}

#geocoding_map {
    height: 100%;
}

#google_map {
    height: 100%;
}
