body {
    min-height: 100%;
    cursor: default;
    background: #5B98C7;
    font-family: "Montserrat", sans-serif;
}

h1 {
    cursor: default;
    padding-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

button {
    font-family: inherit;
}

#background_border {
    margin: 75px 70px 10px 70px;
    background: linear-gradient(#eee, #fff);
    border-radius: 10px;
    position: relative;
}

#page_title {
    text-align: center;
    font-size: 50px;
}

/* Nav bar */

#nav_bar {
    position: sticky;
    width: 1500px;
    top: -2px;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-bottom: 65px;
    background-color: #5B98C7;
    box-shadow: 0px 5px 20px #888;
    border-radius: 10px;
    font-size: 25px;
}

#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.tab_link {
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
    color: #FFF;
}

.tab_link:hover {
    cursor: pointer;
    color: #BBB;
    transition: 0.2s;
}

.tab_content {
    display: none;
}

/* Metrics / Trends Tab */

#metrics {
    display: block;
}

.map {
    height: 100%;
}

#marker_map_border {
    position: relative;
    width: 1450px;
    height: 790px;
    margin: auto;
    margin-bottom: 150px;
    background-color: #ddd;
    border: 2px solid #ccc;
}

#marker_map {
    display: inline-block;
    position: absolute;
    width: 76%;
    height: 94%;
    left: 320px;
    top: 23px;
    z-index: 999;
    border: 1px solid #CCCCCC;
}

#marker_map_label {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 20px;
    top: 22px;
    left: 24px;
    z-index: 998;
    padding: 10px;
    padding-left: 22px;
    padding-right: 23px;
    background-color: #5B98C7;
    color: white;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 22px;
    text-align: center;
}

#map_side_content {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 743px;
    top: 22px;
    left: 24px;
    background: linear-gradient(#eee, #fff);
    border: 1px solid #ccc;
    border-right: none;
}

#checkboxes {
    position: absolute;
    left: 10px;
    top: 50px;
    line-height: 257%;
}

#checkbox_labels {
    position: absolute;
    top: 45px;
    left: 40px;
    font-size: 15px;
    line-height: 274%;
    width: 250px;
}

label {
    display: inline;
}

.checkbox {
    display: none;
}

.checkbox + label:hover {
    cursor: pointer;
}

.checkbox + label {
    display: inline-block;
    position: relative;
    background-color: #fafafa;
    padding: 11px;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.checkbox + label:active, .checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox:checked + label:after {
    position: absolute;
    top: -10px;
    left: 2px;
    font-size: 23px;
    content: '\2714';
    color: #99a1a7;
}

#avg_resol_time {
    position: relative;
    margin-bottom: 75px;
}

#resolution_time_chart {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 650px;
    left: 80px;
    top: 70px;
    float: left;
}

#avg_resol_time_para {
    display: inline-block;
    font-size: 30px;
    width: 575px;
    position: relative;
    text-align: left;
    line-height: 180%;
    float: right;
    opacity: 0;
    right: 100px;
}

#avg_resol_time_para br {
    margin-bottom: 40px;
}

#num_call_type {
    position: relative;
    padding-bottom: 100px;
    background-color: #eee;
    padding-top: 75px;
}

#call_type_chart {
    display: inline-block;
    width: 850px;
    height: 500px;
    position: relative;
    float: right;
    top: 55px;
    right: 50px;
}

#call_type_para {
    position: relative;
    display: inline-block;
    width: 600px;
    font-size: 30px;
    float: left;
    line-height: 250%;
    left: 90px;
    opacity: 0;
}

#call_type_para br {
    margin-bottom: -10px;
}

#incident_times {
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}

#incident_time_chart {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 650px;
    left: 70px;
    top: 100px;
    float: left;
}

#incident_times_para {
    position: relative;
    float: right;
    font-size: 28px;
    top: 50px;
    width: 600px;
    left: 200px;
    line-height: 200%;
    opacity: 0;
}

#inc_times_drp {
    display: inline-block;
    position: absolute;
}

#inc_times_drp_btn {
    position: absolute;
    width: 150px;
    right: 540px;
    bottom: -125px;
    padding: 10px;
    background-color: #4A8DC1;
    color: white;
    border: none;
    font-size: 16px;
}

#inc_times_drp_btn_content {
    display: none;
    position: absolute;
    width: 255px;
    max-height: 400px;
    top: 125px;
    right: 433px;
    text-align: left;
    background-color: #ddd;
    border: 1px solid #ccc;
    list-style: none;
    overflow-y: auto;
}

#inc_times_drp_btn_content li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -20px;
    color: black;
    text-decoration: none;
    text-align: left;
    list-style: none;
}

#inc_times_drp_btn_content li:hover {
    color: #888;
    cursor: pointer;
}

#inc_times_drp:hover #inc_times_drp_btn_content {
    display: block;
}

/* Emergency Prediction tab */

#geocode_map {
    height: 100%;
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto;
    top: 15px;
    border: 2px solid #ccc;
}

#geocode_map_border {
    height: 530px;
    width: 530px;
    left: 100px;
    background: #ddd;
    position: relative;
    float: left;
    border: 2px solid #bbb;
}

#emergency_prediction {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}

#prediction {
    display: inline-block;
    text-align: center;
    width: 700px;
    float: right;
    position: relative;
    right: 200px;
}


#pred_para {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    font-size: 26px;
    line-height: 150%;
    animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

input {
    outline: none;
    font-family: inherit;
}

#address_input {
    display: inline-block;
    position: relative;
    width: 450px;
    top: -50px;
    left: 0px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    font-size: 20px;
    border: 2px solid #ccc;
}

#time_input {
    display: inline-block;
    position: relative;
    width: 150px;
    left: 0px;
    bottom: 50px;
    padding: 10px;
    transition: 0.5s;
    border: 2px solid #ccc;
    font-size: 20px;
}

#time_input:focus, #address_input:focus {
    border: 2px solid #777;
}

#pred_btn {
    position: relative;
    width: 200px;
    top: -25px;
    border: 2px solid #5B98C7;
    transition: 0.5s;
    padding: 10px;
    background-color: #5B98C7;
    color: white;
    font-family: inherit;
    font-size: 20px;
}

#pred_btn:hover {
    background-color: inherit;
    color: #5B98C7;
    cursor: pointer;
}

#pred_output_container {
    position: relative;
    width: 700px;
    height: 120px;
    background-color: #eee;
    border-radius: 5px;
}

#pred_output {
    position: relative;
    font-family: inherit;
    font-size: 20px;
    line-height: 180%;
}

/* Average Dispatch Data tab */

#avg_dispatch_chart {
    display: block;
    position: relative;
    width: 800px;
    height: 600px;
    float: left;
    left: 75px;
}

#avg_dispatch_para {
    display: inline-block;
    position: relative;
    width: 650px;
    height: 500px;
    top:  0px;
    left: 150px;
    margin-bottom: 100px;
    font-size: 30px;
    line-height: 250%;
}

.slideshow {
    margin-bottom: 100px;
}

#treasure_island, #rincon_hill, #twin_peaks {
    display: none;
}

#treasure_island img, #rincon_hill img, #twin_peaks img {
    display: inline-block;
    position: relative;
    width: 344px;
    height: 328px;
    float: left;
    top: 100px;
    left: 50px;
    border: 5px solid #ddd;
}

#rincon_hill p, #twin_peaks p {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 500px;
    float: right;
    top: 40px;
    right: 75px;
    font-size: 25px;
    line-height: 200%;
}

#treasure_island p {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 500px;
    float: right;
    top: 20px;
    right: 75px;
    font-size: 23px;
    line-height: 180%;
}

#treasure_island span, #rincon_hill span, #twin_peaks span {
    position: relative;
    top: 450px;
    left: -180px;
}

#slide {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-bottom: 50px;
    background-color: inherit;
}

.slide_btn {
    display: inline-block;
    z-index: 100;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 50px;
}

#slide_left_btn {
    position: relative;
    float: left;
    top: 225px;
    left: 140px;
}

#slide_right_btn {
    position: relative;
    float: right;
    top: -425px;
    right: 150px;
}

#time_reduce {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

#reduce_header {
    font-size: 40px;
    position: relative;
    left: 75px;
}

#reduce_header strong {
    color: #5B98C7;
}

#reduce_para {
    position: relative;
    width: 800px;
    left: 75px;
    right: 1000px;
    top: 40px;
    font-size: 22px;
    line-height: 220%;
}

#avg_dispatch_heatmap_border {
    position: absolute;
    height: 600px;
    width: 550px;
    left:  1000px;
    top: 100px;
    background-color: #ddd;
    border: 2px solid #bbb;
    margin: auto;
}

#avg_dispatch_heatmap {
    position: relative;
    height: 550px;
    width: 500px;
    top: 25px;
    margin: auto;
    border: 2px solid #bbb;
}

/* Footer */

#bottom_bar {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    height: 3%;
    bottom: 0;
    line-height: 70px;
}

#bottom_bar img {
    position: relative;
    width: 32px;
    height: 32px;
    top: 8px;
}

#bottom_image {
    position: relative;
    bottom: 0;
    left: 0;
    margin: -10px -8px -9px -10px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

/* For fixing floating elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
